# 이름: 정다솔
# 학번: 2017310367
# 학과: 문헌정보학과

### 주의사항: your {command, answer, code} here 지우고 작성할 것.

##### Q1. (UNIX) 디렉토리 내에 있는 파일들의 목록을 내림차순으로 출력하는 명령어를 적으세요. ( ! 기호 후 명령어 입력. Windows 명령어도 인정함. )

In [ ]:
! ls -lr

total 4
drwxr-xr-x 1 root root 4096 Mar  9 14:48 sample_data

##### Q2. (UNIX) UNIX에서는 모든 것이 \_\_이것\_\_이다. 이것에 들어갈 말을 영어로 적으세요.

In [ ]:
#Everything is a file

##### Q3. 다음 리스트에서 짝수만 남기면서, 892 보다 큰 수는 출력되지 않는 리스트를 만드세요.

In [ ]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

numbers = [i for i in numbers if (i%2 == 0 and i < 892)]
numbers

[386,
 462,
 418,
 344,
 236,
 566,
 328,
 162,
 758,
 412,
 566,
 826,
 248,
 866,
 626,
 104,
 58,
 512,
 24,
 742]

##### Q4. 다음 2개의 변수 young_man, old_man의 값을 서로 바꾸는 한 줄 짜리 코드를 완성하세요.

In [ ]:
young_man = "신하균"
old_man = "변희봉"
# your code here. 수업 시간에 다루지 않았으니 검색 필수.

young_man, old_man = old_man, young_man

print(young_man, old_man) # '변희봉 신하균' 출력

변희봉 신하균

##### Q5. 한국어의 목적격 조사 '을'과 '를'은 앞에 나오는 단어의 받침에 따라 결정된다. 예를 들어, "나는 오늘 수업을 들었다."에서 "수업" 뒤에 붙는 목적격 조사 "을"은 앞 음절에 받침이 있기 때문에 "을"을 사용한 것이다. 만일, 앞 음절에 받침이 없었다면 "를"을 사용했을 것이다. 입력으로 넣은 단어의 목적격 조사로 '을'과 '를' 중 어떤 것이 적절할 지 판단하는 함수를 작성하세요.

In [ ]:
# 참고
# 초성 리스트. 00 ~ 18
CHOSUNG_LIST = ['ㄱ', 'ㄲ', 'ㄴ', 'ㄷ', 'ㄸ', 'ㄹ', 'ㅁ', 'ㅂ', 'ㅃ', 'ㅅ', 'ㅆ', 'ㅇ', 'ㅈ', 'ㅉ', 'ㅊ', 'ㅋ', 'ㅌ', 'ㅍ', 'ㅎ']
# 중성 리스트. 00 ~ 20 12623 ~ 12643
JUNGSUNG_LIST = ['ㅏ', 'ㅐ', 'ㅑ', 'ㅒ', 'ㅓ', 'ㅔ', 'ㅕ', 'ㅖ', 'ㅗ', 'ㅘ', 'ㅙ', 'ㅚ', 'ㅛ', 'ㅜ', 'ㅝ', 'ㅞ', 'ㅟ', 'ㅠ', 'ㅡ', 'ㅢ', 'ㅣ']
# 종성 리스트. 00 ~ 27 + 1(1개 없음)
JONGSUNG_LIST = [' ', 'ㄱ', 'ㄲ', 'ㄳ', 'ㄴ', 'ㄵ', 'ㄶ', 'ㄷ', 'ㄹ', 'ㄺ', 'ㄻ', 'ㄼ', 'ㄽ', 'ㄾ', 'ㄿ', 'ㅀ', 'ㅁ', 'ㅂ', 'ㅄ', 'ㅅ', 'ㅆ', 'ㅇ', 'ㅈ', 'ㅊ', 'ㅋ', 'ㅌ', 'ㅍ', 'ㅎ']

def decide_position(word):
    a = word[len(word)-1]
    print(word, end="")
    if (ord(a) - 44032) % 28 == 0:
      print("를")
    else:
      print("을")
    # code here. hint: ord(), 
    return 
decide_position("여수 밤바다") # 실행 결과 "여수 밤바다를"이 출력되어야 함.

여수 밤바다를

##### Q6. 다음 문자열을 역순으로 출력하는 한 줄짜리 코드를 작성하세요.

In [ ]:
sentence = "로꾸꺼 로꾸꺼 로꾸꺼 말해말"

for i in range (len(sentence)-1, -1, -1): print(sentence[i], end="")

말해말 꺼꾸로 꺼꾸로 꺼꾸로

##### Q7. 주어진 dictionary가 모두 같은 값을 갖고 있는지 확인하는 함수를 작성하세요.

In [ ]:
def check_homogeneity(dictionary):
    flag = True
    val =  list(dictionary.values())
    val_sum = val.count(val[0])
    if val_sum/len(val) != 1: flag = False
    return flag
    
print(check_homogeneity({"정조":"왕", "단종":"왕", "광해군":"왕"})) # return True
print(check_homogeneity({"걸스데이":4, "씨스타":4, "블랭핑크":4, "소녀시대":9})) # return False

True
False

##### Q8. 다음 두 리스트 s1, s2를 Pandas의 Series로 만들고 두 Series를 더해보세요.

In [ ]:
import pandas as pd
s1 = [2, 4, 6, 8, 10]
s2 = [1, 3, 5, 7, 9]

s1 = pd.Series(s1)
s2 = pd.Series(s2)

print(s1+s2)

0     3
1     7
2    11
3    15
4    19
dtype: int64

##### Q9. 다음 DataFrame 에서, name(이름)과 turnout(득표율)만 선택(selection)하는 코드를 작성하세요.

In [2]:
import pandas as pd
import numpy as np
president_data  = {'name': ['이승만', '윤보선', '박정희', '최규하', '전두환', '노태우',
                       '김영삼', '김대중', '노무현', '이명박', '박근혜', '문재인'],
        'turnout': [91.8, 79.1, 46.6, 96.3, 99.4, 36.6,
                    42, 40.3, 48.9, 48.7, 51.6,41.1],
        'jail': ['no', 'no', 'no', 'no', 'yes', 'yes',
                'no', 'no', 'no','yes','yes',np.nan]}
labels = ['가', '나', '다', '라', '마', '바', '사', '아', '자', '차','카','타']
presidents = pd.DataFrame(president_data, index=labels )

presidents = pd.DataFrame(presidents, columns=['name', 'turnout'],index=labels)
presidents.head(20)

# your code here.

  name  turnout
가  이승만     91.8
나  윤보선     79.1
다  박정희     46.6
라  최규하     96.3
마  전두환     99.4
바  노태우     36.6
사  김영삼     42.0
아  김대중     40.3
자  노무현     48.9
차  이명박     48.7
카  박근혜     51.6
타  문재인     41.1

##### Q10. Q9 에서 만든 DataFrame에 각 대통령의 재임 기간을 조사하여 'period'라는 column을 만들고, 'period'의 내림차순으로 DataFrame을 정렬하세요.

In [3]:
# your code here.

presidents.loc[:,'period'] = [4273, 588, 5793, 255, 2733, 1827, 1826, 1825, 1826, 1827, 1474,1827]
presidents = presidents.sort_values('period', ascending=False)
presidents.head(20)

  name  turnout  period
다  박정희     46.6    5793
가  이승만     91.8    4273
마  전두환     99.4    2733
바  노태우     36.6    1827
차  이명박     48.7    1827
타  문재인     41.1    1827
사  김영삼     42.0    1826
자  노무현     48.9    1826
아  김대중     40.3    1825
카  박근혜     51.6    1474
나  윤보선     79.1     588
라  최규하     96.3     255